/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/vendor
.env
.env.backup
.env.production
.env.*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
pnpm-debug.log
/.fleet
/.idea
/.vscode
/.composer
/bootstrap/cache/*.php
/bootstrap/cache/*.json
/bootstrap/cache/packages.php
/bootstrap/cache/packages.php*
/bootstrap/cache/services.php
/bootstrap/cache/services.php*
/bootstrap/cache/config.php
/bootstrap/cache/config.php*
/bootstrap/cache/routes-v7.php
/bootstrap/cache/routes-v*.php*
/bootstrap/cache/events.php
/bootstrap/cache/events.php*
/docker/**/data/
/docker/**/logs/
/docker/**/tmp/
